*.class
*~
*.swp
*.jar
*.war
*.ear
*.db
OptiFret-UML/.QueryCache
OptiFret-UML/DiagramBackup/Activity Diagram 1_1384443066863.diagram
OptiFret-UML/DiagramBackup/Activity Diagram 1_1384443152685.diagram
OptiFret-UML/nbproject/private/private.properties
